body {
  margin: 0 200px 0 200px;
  background: #FFFFFF;
  color: #333333;
  line-height: 2;
} 

h1 {
	padding: 0 0 20px;
}

p {
	font-size: 15px;
}

img {
	padding: 30px 0;
}

input {
	height: 20px;
}

.iframe {
	height: 60px;
	border: none;
	margin: 0 0 0 0;
	display: block;
}
.inframe pre {
	color: red;
}

.container {
	margin: 50px 100px 30px 100px;
}

.btn {
	margin: 0 0 10px;
	display: inline-block;
}

.logo {
	float: right;
	margin: 0 400px 0 50px;
	padding: 0;
}


.form {
	margin: 60px 0 30px;
}